:root {
  --background-color: #0E1015;
  --warning-color: #F75A58;
  --primary-color: #CECECE; 
  --secondary-color: #918F98; 
}

body {
  background-color: var(--background-color);
  width: 100vw; 
  height: 100vh;
  margin: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  overflow-x: hidden;
}